@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';
.card {
    background-color: white;
    border: 1px solid gray;
    padding: 1rem;
}
.card_content {
    padding: 1rem;
}
.image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}